/* General */
body{
    overflow: hidden;
}
body {
    margin: 0px;
    padding: 0px;
}

.noDecoration {
    list-style: none;
}

.hidden {
    display: none;
}



/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* Landscape */
    body{
        width: 1024px;
        height: 750px;
    }

    .kort {
        width: 50px;
        height: auto;
    }

    .dropzone {
        background-color: khaki;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 25px;
        grid-row-gap: 25px;
        border: 2px solid black;
        border-radius: 2.5px;
        padding: 10px;
    }

    .plot {
        display: grid;

    }

    #langModal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0px;
        margin: 0px;
    }

    .modal {
        position: relative;
        z-index: 1;
        background-color: lightgray;
        animation-name: movedown;
        animation-duration: 0.5s;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-size: 150%;
        border-radius: 5px;
        height: 50px;
    }

    #headerDiv {
        display: none;
    }

    #mobileHeader {
        display: block;
        position: relative;
        background-image: url(img/overskrift.png);
        width: 700px;
        height: 100px;
        left: 162px;
        top: 250px;
    }

    .modal-content {
        width: 1024px;
        height: 768px;
    }

    .flagButton {
        background-repeat: no-repeat;
        width: 110px;
        height: 70px;
        background-size: cover;
        margin-top: 270px;
    }

    #norButton {
        background-image: url(img/nor.png);
    }

    #engButton {
        background-image: url(img/eng.png);
    }

    .house {
        display: grid;
        grid-template-columns: 35px 35px 35px;
        grid-template-rows: 35px 35px 35px;
        grid-gap: 25px;
        background-color: cornflowerblue;
        border: solid 2px black;
        padding: 20px;
    }

    .roof {
        position: relative;
        display: block;
    }

    .titleImg {
        position: relative;
        z-index: 1;
        top: -75px;
        left: 80px;
    }

    .roofSVG {
        position: relative;
        z-index: -1;
    }

    .main-wrapper {
        display: grid;
        border: 2px dashed red;
    }

    #content {
        max-width: 1024px;
        max-height: 750px;
        /*overflow: hidden;*/
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) { 
    /* Portrait */
    
    body{
        width: 768px;
        height: 1000px;
    }

    .kort {
        width: 50px;
        height: auto;
    }

    .dropzone {
        background-color: khaki;
    }

    .grid-container {
        display: grid;
        max-width: 1024px; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #headerDiv {
        display: none;
    }


    #mobileHeader {
        display: block;
        position: relative;
        width: 700px;
        height: 100px;
        top: 350px;
        left: 25px;
        background-image: url(img/overskrift.png);
    }

    .plot {
        display: grid;
    }

    .modal {
        position: relative;
        z-index: 1;
        background-color: lightgray;
        animation-name: movedown;
        animation-duration: 0.5s;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-size: 150%;
        border-radius: 5px;
    }

    #langModal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }

    .flagButton {
        background-repeat: no-repeat;
        width: 110px;
        height: 70px;
        background-size: cover;
        margin-top: 400px;
    }

    #norButton {
        background-image: url(img/nor.png);
    }

    #engButton {
        background-image: url(img/eng.png);
    }

    .house {
        display: grid;
        grid-template-columns: 35px 35px 35px;
        grid-template-rows: 35px 35px 35px;
        grid-gap: 25px;
        background-color: cornflowerblue;
        border: solid 2px black;
        padding: 20px;
    }

    .roof {
        position: relative;
        display: block;
    }

    .titleImg {
        position: relative;
        z-index: 1;
        top: -75px;
        left: 80px;
    }

    .roofSVG {
        position: relative;
        z-index: -1;
    }

    .main-wrapper {
        display: grid;
        border: 2px dashed black;
    }

    #content {
        max-width: 768px;
        max-height: 1000px;
        /*overflow: hidden;*/
    }
}

/* Widescreen HD*/
@media (min-width: 1050px) { /*HD*/
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 50px;
        grid-row-gap: 50px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
    }

    .main-wrapper {
        display: grid;
        grid-template-columns: 5fr 1fr;
        /*border: 2px dashed black;*/
    }

    #header {
        height: 100px;
        width: 700px;
        margin: 0px;
        padding-right: 50%;
        font-size: 100px;
        background-image: url(img/overskrift.png);
        background-size: 700px 100px; /*FIX ME!*/
        background-repeat: no-repeat;
        background-position-x: center;
        text-transform: uppercase;
    }

    #dataPanelHeader {
        text-align: center;
        font-size: 200%;
    }

    .dataPanel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px, max-content);
        border: 2px solid black;
        border-radius: 5px;
    }

    .plot {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 100px 400px 100px;
    }

    /*.house {
        display: grid;
        grid-template-columns: repeat(3, 70px);
        grid-template-rows: repeat(3, 70px);
        grid-gap: 50px;
        background-color: cornflowerblue;
        border: solid 2px black;
        padding: 40px;
    }*/

    .grid-element {
        background-color: lightblue;
        border: dashed 2px black;
    }

    .dropzone {
        background-color: khaki;
    }

    .kategori {
        text-align: center;
        font-family: Calibri;
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 150%;
    }

    .kortstokk {
        width: auto;
        height: 250px;
        vertical-align: middle;
        margin-right: 50px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 20px;
        margin-bottom: 20px;
        background-color: paleturquoise;
        border-radius: 15px;
    }

    .kort {
        width: auto;
        height: 100px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 15px;
        margin-left: 20%;
    }

    .panelButton {
        width: 85%;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 40px;
        font-size: 200%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 15px;
        text-align: center;
    }

    .drag-drop {
        width: 100px;
        height: 100px;
        -ms-touch-action: none;
        touch-action: none;
    }

    #beskrivelse {
        font-size: 200%;
        padding-top: 0px;
    }

    .roof {
        position: relative;
        display: block;
    }

    .titleImg {
        position: relative;
        z-index: 1;
        top: -150px;
        left: 160px;
    }

    .roofSVG {
        position: relative;
        z-index: -1;
    }

    #kortstokkSpan {
        font-size: 150%;
    }

    #drawButton {
        background-image: url('img/card.png');
        z-index: 1;
        background-size: 100px;
        background-repeat: no-repeat;
    }

    #resetButton {
        background-image: url('img/reset.png');
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 75px;
    }

    .flagButton {
        background-repeat: no-repeat;
        width: 550px;
        height: 350px;
        background-size: cover;
        margin-top: 15%;
    }

    #norButton {
        background-image: url(img/nor.png);
    }

    #engButton {
        background-image: url(img/eng.png);
    }

    #kortholder:hover {
        cursor: pointer;
    }

    .button:hover {
        cursor: pointer;
        box-shadow: rgba(0,0,0,.8) 0px 5px 15px;
    }

    .hidden {
        display: none;
    }

    /* MODAL! */
    .modal {
        position: relative;
        z-index: 1;
        background-color: lightgray;
        animation-name: movedown;
        animation-duration: 0.5s;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-size: 150%;
        border-radius: 5px;
    }

    #houseSelect {
        display: none;
    }

    #langModal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: grey;
        padding: 0px;
        margin: 0px;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    @keyframes movedown {
        from {
            height: 0;
            opacity: 0
        }

        to {
            height: 100%;
            opacity: 1
        }
    }

    @keyframes moveup {
        from {
            height: 100%;
            opacity: 1
        }

        to {
            height: 0;
            opacity: 0
        }
    }

    .noFancy {
        text-decoration: none;
    }

        .noFancy:active, .noFancy:visited, .noFancy:link {
            color: black;
        }

        .noFancy:hover {
            font-size: 110%;
        }
}

